*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
form{
    width: 400px;
    background-color: #f2f2f2;
    margin: 100px auto;
    border: 2px dotted gray;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
input{
    width: 100%;
    padding: 10px;
/* Added by Behzad */
    margin: 5px 0 10px 0;
    /*Top_Right_Bottom_Left*/
}
input[type="submit"]{
    background-color: rgb(184, 176, 176);
    /* Added by Behzad */
        border-radius: 10px;
    border: 0;
}